html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
.ant-layout-content {
  height: 100%;
}
.noMarginBottom .ant-tabs-bar {
  margin-bottom: 0 !important;
}

//.ant-card{
//  background: transparent !important;
//  border:1px solid #ffffff !important;
//  .ant-card-head{
//    color: #ffffff !important;
//  }
//}
//.ant-layout-footer {
//  margin-top: 16px;
//  background: transparent !important;
//}
